<body>
    <div class="contorno_calculadora">
        <input class="cuadro_operaciones" type="text" [(ngModel)]="cuadroOperaciones" disabled>
        <!-- se debe poner text por los signos
        y deshabilitar para evitar errores al escrbir en el cuadrode texto-->
        <div class="botones_horizontales">
            <button type="button" class="btn btn-dark" (click)="anadirNumero('7')">7</button>
            <button type="button" class="btn btn-dark" (click)="anadirNumero('8')">8</button>
            <button type="button" class="btn btn-dark" (click)="anadirNumero('9')">9</button>
            <button type="button" class="btn btn-dark" (click)="anadirNumero('*')">*</button>
        </div>
        <div class="botones_horizontales">
            <button type="button" class="btn btn-dark" (click)="anadirNumero('4')">4</button>
            <button type="button" class="btn btn-dark" (click)="anadirNumero('5')">5</button>
            <button type="button" class="btn btn-dark" (click)="anadirNumero('6')">6</button>
            <button type="button" class="btn btn-dark" (click)="anadirNumero('-')">-</button>
        </div>
        <div class="botones_horizontales">
            <button type="button" class="btn btn-dark" (click)="anadirNumero('1')">1</button>
            <button type="button" class="btn btn-dark" (click)="anadirNumero('2')">2</button>
            <button type="button" class="btn btn-dark" (click)="anadirNumero('3')">3</button>
            <button type="button" class="btn btn-dark" (click)="anadirNumero('+')">+</button>
        </div>
        <div class="botones_horizontales">
            <button type="button" class="btn btn-dark" (click)="anadirNumero('/')">/</button>
            <button type="button" class="btn btn-dark" (click)="resultado()">=</button>
            <button type="button" class="btn btn-dark" (click)="borrar()">C</button>
        </div>
    </div>
</body>